.navBtn {
    width: clamp(200px, 20%, 600px);
    height: 10vh;
    font-size: calc(1em + 1vw);
    font-family: 'Share Tech Mono', monospace;
    padding: 1%;
    border: none;
    background-color: black;
    color: lawngreen;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.navBtn:hover {
    background-color: lawngreen;
    color: black;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
}