.navBtn {
    width: clamp(200px, 20%, 600px);
    height: 10vh;
    font-size: calc(1em + 1vw);
    font-family: 'Share Tech Mono', monospace;
    padding: 1%;
    border: none;
    background-color: black;
    color: lawngreen;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.navBtn:hover {
    background-color: lawngreen;
    color: black;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navMobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    .navBar {
        display: none;
    }
    
    .navMobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: right;
        top: 3vh;
        left: 3vh;
        
        -webkit-user-select: none;
        user-select: none;
    }

    .navMobile input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }

    .navMobile span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        
        background: lawngreen;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    .navMobile span:first-child {
        transform-origin: 0% 0%;
    }

    .navMobile span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    .navMobile input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: tomato;
    }

    .navMobile input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .navMobile input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .navMobile nav
    {
        position: absolute;
        width: 100vw;
        height: 100vh;
        margin: -100px;
        background-color: rgb(14, 14, 14);
        padding: 50px;
        padding-top: 125px;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        
        transform-origin: 0% 0%;
        transform: translate(0, -100%);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .navMobile input:checked ~ nav 
    {
        transform: none;
    }

    .navBtn {
        background-color: rgb(14, 14, 14);
        width: 100vw;
        height: 18vh;
        font-size: calc(2em + 1vw);
        font-family: 'Share Tech Mono', monospace;
        padding: 1%;
        padding-left: 12.5vw;
        border: none;
        color: lawngreen;
    }
}