.navBtn {
    width: clamp(200px, 20%, 600px);
    font-size: calc(0.5em + 1vw);
    font-family: 'Share Tech Mono', monospace;
    padding: 10px;
    border: none;
    background-color: black;
    color: lawngreen;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.navBtn:hover {
    background-color: lawngreen;
    color: black;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navMobile {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navBar {
        display: none;
    }
    
    .navMobile {
        position: fixed;
        display: inline;
        top: 0vh;
        
        -webkit-user-select: none;
        user-select: none;
    }

    .navMobile input {
        display: none;
    }

    .hamburgerContainer {
        width: 100vw;
        background-color: black;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .hamburger {
        width: 35px;
        height: 30px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        margin: 10px 10px;
        z-index: 1;
    }

    .hamburger span {
        background-color:lawngreen;
        position: absolute;
        border-radius: 2px;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        width: 100%;
        height: 4px;
    }

    .hamburger span:nth-child(1){
        top:0px;
        left: 0px;
    }
    
    .hamburger span:nth-child(2){
        top:13px;
        left: 0px;
    }
    
    .hamburger span:nth-child(3){
        bottom:0px;
        left: 0px;
    }

    .hamburger.open span:nth-child(1){
        transform: rotate(45deg) scaleX(0.7);
        top: 13PX;
        left: -8px;
    }
    
    .hamburger.open span:nth-child(2){
        transform: scale(0);
        transition-duration: 50ms
    }
    
    .hamburger.open span:nth-child(3){
        transform: rotate(-45deg) scaleX(0.7);
        top: 13PX;
        left: 7px;
    }

    .navMobile input:checked ~ nav {
        transform: translate(0, 0%);
    }

    .navMobile nav
    {
        position: absolute;
        z-index: 0;
        height: 100vh;
        margin: -100px;
        background-color: rgb(14, 14, 14);
        padding-top: 135px;
        top: 4vh;
        
        transform-origin: 0% 0%;
        transform: translate(0, -100%);
        
        transition: transform 0.5s;
    }

    .navBtn {
        background-color: rgb(14, 14, 14);
        width: 100vw;
        height: 15vh;
        font-size: calc(2em + 1vw);
        font-family: 'Share Tech Mono', monospace;
        padding: 1%;
        border: none;
        color: lawngreen;
    }
}