@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.windows_container {
    width: 100%;
}

.window {
    font-family: 'Share Tech Mono', monospace;
}

.inactive {
    display: none;
}

.active {
    font-size: calc(0.70em + 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6em;
}

@keyframes pageTransition {
    from {
        display: none;
    } 
    to { 
        display: flex;
    }
}

.title { 
    border-width: 10px;
    border-bottom: solid lawngreen;
    width: clamp(300px, 40%, 1000px);
}

/*********************************************************************************/
/* HOME PAGE
/*********************************************************************************/

.home {
    top: 8em;
}

.typingContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    text-align: left;
}

.credContainer {
    display: flex;
    flex-direction: row;
}

.credContainer p {
    margin: 0;
}

.rootStart0 {
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 1s steps(1) 0.5s 1 normal both,
        blinking 500ms steps(7) infinite normal,
        stopBlinking 500ms 3s forwards;
}

.username {
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 2s steps(16) 3s 1 normal both,
        blinking 500ms steps(7) 3s infinite normal,
        stopBlinking 500ms 5.5s forwards;
}

.rootStart1 {
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 0.5s steps(1) 5.8s 1 normal both,
        blinking 500ms steps(7) 5.7s infinite normal,
        stopBlinking 500ms 8s forwards;
}

.password {
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 2s steps(10) 8s 1 normal both,
        blinking 500ms steps(7) 8s infinite normal,
        stopBlinking 500ms 11s forwards;
}

.welcome {
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 0.5s steps(7) 11.5s 1 normal both,
        blinking 500ms steps(7) 11.5s infinite normal,
        stopBlinking 500ms 12s forwards;
}

.typingContainer h1 {
    font-size: calc(2em + 2vw);
    margin: 0;
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation: 
        typing 0.5s steps(16) 12.5s 1 normal both,
        blinking 500ms steps(7) 12.5s infinite normal,
        stopBlinking 500ms 13s forwards;
}

.root {    
    border-right: 0.08em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 0.5s steps(1) 13.5s 1 normal both,
        blinking 500ms steps(7) 13.5s infinite normal;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes blinking {
    from { border-right-color: lawngreen; }
    to { border-right-color: transparent; }
}

@keyframes stopBlinking {
    from { border-right-color: lawngreen; }
    to { border-right-color: transparent; }
}

/*********************************************************************************/
/* ABOUT PAGE
/*********************************************************************************/

.about p {
    width: clamp(300px, 80%, 5000px);
}

/*********************************************************************************/
/* SKILLS PAGE
/*********************************************************************************/

.skillsListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 80%, 6000px);
}

/*********************************************************************************/
/* PROJECTS PAGE
/*********************************************************************************/

.projectList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10vh;
}

/*********************************************************************************/
/* CONTACT PAGE
/*********************************************************************************/

.contactListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 80%, 6000px);
}

.emailContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    margin: 20px;
    height: 67px;
}

.emailContainer p {
    margin: 10px;
    font-size: calc(0.1rem + 1vw);
}

.emailContainer button {
    border: none;
    border-radius: 0px 17px 17px 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.301);
    font-family: 'Share Tech Mono', monospace;
    color: lawngreen;
    font-size: calc(0.3rem + 1vw);
    width: fit-content;
    width: clamp(100px, 21%, 6000px);
    height: 67px;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.emailContainer button:hover {
    background-color: lawngreen;
    color: black;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

/*********************************************************************************/
/* MOBILE ADJUSTMENTS
/*********************************************************************************/

@media only screen and (max-width: 1100px) {
    .active {
        font-size: calc(1.25em + 1vw);
        top: 3em;
    }

    .home {
        font-size: calc(0.5em + 2vw);
        top: 15em;
    }

    .typingContainer {
        width: 93vw;
    }

    .emailContainer p {
        font-size: calc(0.8rem + 1vw);
    }
    
    .emailContainer button {
        font-size: calc(0.8rem + 1vw);
    }
}

@media only screen and (max-height: 450px) {
    .home {
        top: 3em;
    }
}