@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.windows_container {
    width: 100%;
    height: 100vh;
}

.window {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech Mono', monospace;
}

.inactive {
    display: none;
}

.active {
    font-size: calc(0.70em + 1vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title { 
    border-width: 10px;
    border-bottom: solid lawngreen;
    width: clamp(300px, 40%, 1000px);
}

/* HOME PAGE */

.typingContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vw;
    text-align: left;
}

.typingContainer h1 {
    font-size: calc(2em + 2vw);
    overflow: hidden;
    border-right: 0.10em solid lawngreen;
    margin: 0;
    white-space: nowrap;
    position: relative;
    animation: 
        typing 2s steps(16) 0.5s 1 normal both,
        blinking 500ms steps(16) infinite normal,
        stopBlinking 500ms 3.7s forwards;
}

.root {
    margin: 0;
    border-right: 0.1em solid transparent;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    animation:
        typing 2s steps(1) 2.2s 1 normal both,
        blinking 500ms steps(7) 4s infinite normal;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes blinking {
    from { border-right-color: lawngreen; }
    to { border-right-color: transparent; }
}

@keyframes stopBlinking {
    from { border-right-color: lawngreen; }
    to { border-right-color: transparent; }
}

/* ABOUT PAGE */

.about p {
    width: clamp(300px, 80%, 5000px);
}

/* SKILLS PAGE */

.skills h1 {
    margin: 1em;
}

.skillsListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 80%, 6000px);
}

/* PROJECTS PAGE */

.projects {

}

/* CONTACT PAGE */

.contactListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(300px, 80%, 6000px);
}

.emailContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.301);
    border-radius: 20px;
}

.emailContainer p {
    margin: 10px;
}

.emailContainer button {
    border: none;
    border-radius: 5px 17px 17px 5px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.301);
    font-family: 'Share Tech Mono', monospace;
    color: lawngreen;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

.emailContainer button:hover {
    background-color: lawngreen;
    color: black;

    transition-timing-function: ease;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 900px) {
    .window {
        height: 100vh;
    }

    .active {
        font-size: calc(1.25em + 1vw);
    }

    .home {
        font-size: calc(0.5em + 2vw);
    }

    .typingContainer {
        width: 93vw;
    }
}